* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    background-color: rebeccapurple;
  }

  form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .container {
    width: 400px;
    height: 320px;
    display: grid;
    padding: 20px;
    row-gap: 20px;
    border-radius: 10px;
    background-color: rgb(69, 17, 118);
    box-shadow: 0 4px 10px rgba(0, 0, 0, .6);
  }

  .length, .btn, .gen-pass{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .btn-sub, .btn-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    cursor: pointer;
  }

  button {
    padding: 5px;
    background-color: gold;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rebeccapurple;
    border: none;
    border-radius: 5px;
  }

  label {
    color: gold;
    font-weight: 800;
    text-transform: uppercase;
  }

  input {
    padding: 10px;
    background-color: rgba(255, 255, 255, .5);
    border: none;
    border-radius: 8px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 27px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
     transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .2s;
    transition: .2s;
  }

  input:checked + .slider {
    background-color: gold;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .alert {
    position: absolute;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background-color: gold;
    border: none;
    border-radius: 6px;
    font-size: 10px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 1px;
    left: 330px;
    top: 170px;
    visibility: hidden;
  }
